<!DOCTYPE html>
<html>
  <head>
    <title>Habilog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- 全体のCSS -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- ユーザー関連ページ用のCSSも常に読み込む -->
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>


